<ul class="folder-list m-b-md" style="padding: 0">
    <li><a href="/Admin/Message/InBox/"> <i class="fa fa-inbox "></i> Gelen Kutusu <span class="label label-warning float-right">@ViewBag.messagenotreadcount</span> </a></li>
    <li><a href="/Admin/Message/SendBox/"> <i class="fa fa-envelope-o"></i> Gönderilen Kutusu<span class="label label-warning float-right">@ViewBag.messagesendcount</span></a></li>
    <li><a href="/Admin/Message/DraftInbox/"> <i class="fa fa-file-text-o"></i> Taslaklar <span class="label label-danger float-right">@ViewBag.draftcount</span></a></li>
    <li><a href="/Admin/Message/DeleteBox/"> <i class="fa fa-trash-o"></i> Çöp Kutusu<span class="label label-warning float-right">@ViewBag.messagedeletecount</span></a></a></li>
</ul>