@model EntityLayer.Concrete.Blog
<div class="single-gd tech-btm">
	<h4>Son Paylaşım</h4>
	<div class="blog-grids">
		<div class="blog-grid-left">
			<a href="/Blog/BlogReadAll/@Model.BlogId">
				<img src="@Model.BlogImage" class="img-fluid" alt="">
			</a>
		</div>
		<div class="blog-grid-right">

			<h5>
				<a href="/Blog/BlogReadAll/@Model.BlogId">@Model.BlogContent.Substring(0, Model.BlogContent.Substring(0, 50).LastIndexOf(" "))...</a>
			</h5>
			<div class="sub-meta">
				<span>
					<i class="far fa-clock"></i> @(((DateTime)Model.BlogCreateDate).ToString("dd-MMM-yyyy"))
				</span>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>