<li>
    <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">Mesajlar </span><span class="label label-warning float-right">@ViewBag.messagenreadcount/@ViewBag.messagecount</span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="/admin/message/InBox/">Gelen Kutusu @ViewBag.messagenotreadcount</a></li>
        <li><a href="/admin/message/SendBox/">Giden Kutusu @ViewBag.messagesendcount</a></li>
        <li><a href="/admin/message/SendMessage/">Yeni Mesaj Oluştur</a></li>
    </ul>
</li>
