@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Hakkımda <a href="https://learn.microsoft.com/aspnet/core">AspNet Core Projem</a>.</p>
</div>
