
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<h3>Test Tablosu</h3>
<table> 
    <tr>    
        <th>İd</th>
        <th>İsim</th>
        <th>Soy İsim</th>
        <th>Numarasi</th>
    </tr>
    <tr>    
        <td>0</td>
        <td>volkan</td>
        <td>sarikaya</td>
        <td>045353453</td>
    </tr>
    <tr>    
        <td>1</td>
        <td>hasan</td>
        <td>namet</td>
        <td>345345346</td>
    </tr>
    <tr>
        <td>5</td>
        <td>namık</td>
        <td>kemal</td>
        <td>134534534534</td>
    </tr>
    <tr>
        <td>2</td>
        <td>kemal</td>
        <td>malaka</td>
        <td>2345345345</td>
    </tr>
</table>