@using EntityLayer.Concrete
@model List<Message2>
@{
    ViewData["Title"] = "DeleteBox";
    Layout = "~/Views/Shared/AdmınLayout.cshtml";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Mailbox</title>

    <link href="/inspinia/css/bootstrap.min.css" rel="stylesheet">
    <link href="/inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/inspinia/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/inspinia/css/animate.css" rel="stylesheet">
    <link href="/inspinia/css/style.css" rel="stylesheet">

</head>

<body>



    <div class="wrapper wrapper-content">
        <div class="row">
            @await Html.PartialAsync("/Areas/Admin/Views/Message/MessageContentArea.cshtml")
            <div class="col-lg-9 animated fadeInRight">
                <div class="mail-box-header">

                    <form method="get" action="index.html" class="float-right mail-search">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" name="search" placeholder="email ara">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    Ara
                                </button>
                            </div>
                        </div>
                    </form>
                    <h2>

                        Silinen Kutusu (@ViewBag.messagedeletecount)

                    </h2>
                    <div class="mail-tools tooltip-demo m-t-md">
                        <div class="btn-group float-right">
                            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                        </div>
                        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh"><i class="fa fa-refresh"></i> Yenile</button>
                        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> </button>
                        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important"><i class="fa fa-exclamation"></i> </button>
                        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </button>

                    </div>
                </div>
                <div class="mail-box">

                    <table class="table table-hover table-mail">
                        <tbody>
                            @foreach (var item in Model)
                            {
                                @if (item.SenderDeleteStatus || item.ReceiverDeleteStatus)
                                {
                                    <tr class="read">
                                        <td class="check-mail">
                                            <input type="checkbox" class="i-checks">
                                        </td>
                                        <td class="mail-ontact"><a href="/Admin/Message/OpenMessageBox?sayfaAdi=DeleteBox&id=@item.MessageId">@* @item.Sender.NameSurname *@</a> </td>
                                        <td class="mail-subject"><a href="/Admin/Message/OpenMessageBox?sayfaAdi=DeleteBox&id=@item.MessageId">@item.Subject</a></td>
                                        <td class="text-right mail-date">@item.MessageDate</td>
                                    </tr>
                                }
                                @if(Model.Count==0)
                                {
                                    <tr >
                                    <td class="text-center">Silinmiş Mesaj Bulunmamaktadır.</td>
                                    </tr>
                                }
                                
                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>


    <!-- Mainly scripts -->
    <script src="/inspinia/js/jquery-3.1.1.min.js"></script>
    <script src="/inspinia/js/popper.min.js"></script>
    <script src="/inspinia/js/bootstrap.js"></script>
    <script src="/inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/inspinia/js/inspinia.js"></script>
    <script src="/inspinia/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="/inspinia/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>

</html>
